:root {
  html,
  body {
    display: flex !important;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: "Poppins", sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  * {
    box-sizing: border-box;
  }
}


.hover {
  display: inline-block;
  position: relative;
}
.hover::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-Purple {
  display: inline-block;
  position: relative;
}
.hover-Purple::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #820ad1;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.hover-Purple:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hoverFixed {
  display: inline-block;
  position: relative;
}
.hoverFixed:hover {
  text-decoration: underline;
}


@keyframes DivDown {
  from {top: -100px}
  to   {top: 0px}
}
