.section6 {
    display: flex;
    width: 100%;
    height: 785px;
  
    align-items: center;
  
    background-image: url("https://nubank.com.br/_next/static/images/9252e4f8b058e728a7f7cd7bfd37ecd5-three-young-people-outdoors-leaning-against-the-wall-lg@1x.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    .section6-bloco1 {
      width: 500px;
      color: white;
      font-size: 38px;
      font-weight: 500;
      margin-left: 25%;
    }
    #section6-P {
      font-size: 18px;
      margin-top: 25px;
    }
  }