.Container-Header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 50.99px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    #logoNu {
      width: 56px;
      margin-left: 56px;
    }
    .Menu {
      display: flex;
      align-items: center;
    }
    .LoginButton button {
      display: flex;
      background: none;
      border: 0;
      width: 70px;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      color: #820ad1;
      align-items: center;
      margin-right: 25px;
      cursor: pointer;
  
      span {
        margin-bottom: -3px;
        margin-left: 5px;
      }
    }
    .Nav-Header {
      ul {
        display: flex;
        align-items: center;
        height: 25px;
        list-style: none;
        }
        li {
          display: flex;
          align-items: center;
          margin-left: 50px;
          justify-content: center;
  
          span {
            display: flex;
            margin-left: 10px;
          }
        }
      }
    }
    .ButtonClick {
      cursor: pointer;
    }
    .RotateArrow:hover {
      span {
        transition: 0.3s;
        transform: rotate(90deg);
      }
    }
    .RotateArrow{
      span {
        transition: 0.3s; 
      }
    }

    /*Telinha*/    
    .Sub-Menu {
      width: 100%;
      height: 300px;
      padding-top: 100px;
      background-color: white;
      position: relative;
    }
  /*ParaVoceMenu*/
    .ParaVoceMenu {
      display: none;
      visibility: hidden;
    }
    .MenuActive {
      animation: 0.4s DivDown;
      display: flex;
      visibility: visible;
      margin-left: 30px;
      
      
      ul {
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
        list-style-type: none;
        font-family: 'Poppins', sans-serif;
        margin-right: 300px;
  
  
        p{
          color: #696969;
          margin-bottom: 15px;
        }
        li {
          font-weight: 700;
          font-size: 28px;
          margin-bottom: 15px;
          cursor: pointer;
  
        }
      }
    }








    /*for your business*/
    .for-your-business{ 
      display: none;
      visibility: hidden;
    }
    
    .MenuActive1 {
      animation: 0.4s DivDown;
      display: flex;
      visibility: visible;
      margin-left: 30px;
      
      
      ul {
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
        list-style-type: none;
        font-family: 'Poppins', sans-serif;
        margin-right: 300px;
  
  
        p{
          color: #696969;
          margin-bottom: 15px;
        }
        li {
          font-weight: 700;
          font-size: 28px;
          margin-bottom: 15px;
          cursor: pointer;
  
        }
      }
    }


    /* O-Nubank  */

    .O-Nubank {
      display: none;
      visibility: hidden;

    } 
    .MenuActive2 {
      animation: 0.4s DivDown;
      display: flex;
      visibility: visible;
      margin-left: 30px;
      
      
      ul {
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
        list-style-type: none;
        font-family: 'Poppins', sans-serif;
        margin-right: 300px;
  
  
        p{
          color: #696969;
          margin-bottom: 15px;
        }
        li {
          font-weight: 700;
          font-size: 28px;
          margin-bottom: 15px;
          cursor: pointer;
  
        }
      }
    }





    /*Button Burguer*/
    .BurguerButton:hover {
      background-color:#fff6ff;
      }
    .BurguerButton {
      display: none;
      visibility: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 5%;
  
      
    
      .BurguerLine1{
        width: 20px;
        height: 2px;
        margin-bottom: 5px;
        background-color: #111111;
      }
      .BurguerLine2 {
        width: 20px;
        height: 2px;
        border-radius: 10%;
        background-color: #111111;
      }
  
    }



    

    /*Media Query*/
    @media (max-width: 1000px ){
      .Container-Header{
        height: 64px;
      }
      .BurguerButton {
        display: flex;
      visibility: visible;
      }
      .LoginButton button {
        display: none;
        visibility: hidden;
      }
      .Nav-Header {
        display: none;
        visibility: hidden;
      }
  
  
  
  
  
  
  
  
  
    }